@font-face {
    font-family: 'PPTelegraf-Regular';
    src: url(assets/PPTelegraf-Regular.ttf);
}

*{font-family: 'PPTelegraf-Regular';}

/* Header Styling */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
}
.header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid #dfdfdf;
    width: 100%;
    box-sizing: border-box;
}
.header-left h1 {
    margin: 0;
    font-size: 24px;
}
.header-right {
    display: flex;
    align-items: center;
}
.header-right h1 {
    margin: 0;
    margin-right: 10px; 
    font-size: 24px;
}
.header-logo {
    width: 40px;
    height: auto;
}

/* Login Styling */
.login-container {
    background: url(https://images.pexels.com/photos/19670/pexels-photo.jpg?auto=compress&cs=tinysrgb);
    background-repeat: no-repeat;
    background-position: center;
    background-size: fill;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: auto;
}
.login-form {
    width: 30%;
    border: 1px solid #dfdfdf;
    padding: 20px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 1px 1px;
}
.login-form-button {
    width: 100%;
}

/* .ant-upload-list.ant-upload-list-text {
    margin-top: 20px;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
} */